.box {
    position: relative;
    z-index: 200;
}

.flex_box {
    display: flex;
    flex-direction: row;
 }

 .flex_box img {
    width : 131px;
    height : 211px;
    margin : 0 28px;
    transition : all 0.5s linear;
 }

 .flex_box img:hover{
    transform: scale(1.3);
    margin : 0 40px;
    cursor: pointer;
 }

.box h2{
    margin-top: 0;
    color:white;
    font-size: 22px;
}
